$navHeight: 64px;

.wrapper {

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: $navHeight;

  .inner {

    margin-bottom: $navHeight;
    margin-top: $navHeight;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //gotta hide windows scrollbars

    .content {
      padding: ($navHeight - ($navHeight/1.5)) / 2;
      position: relative;
      margin-bottom: $navHeight/2;
    }
  }
}